/****** Object:  Table [dbo].[Data]    Script Date: 09/07/2009 08:30:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Data]') AND type in (N'U'))
DROP TABLE [dbo].[Data]
GO
/****** Object:  Table [dbo].[Sensors]    Script Date: 09/07/2009 08:30:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sensors]') AND type in (N'U'))
DROP TABLE [dbo].[Sensors]
GO
/****** Object:  Table [dbo].[Sensors]    Script Date: 09/07/2009 08:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sensors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Sensors](
	[Name] [nchar](10) COLLATE Danish_Norwegian_CI_AS NULL,
	[Fromat] [nchar](10) COLLATE Danish_Norwegian_CI_AS NULL,
	[Type] [nchar](10) COLLATE Danish_Norwegian_CI_AS NULL,
	[Node] [nchar](10) COLLATE Danish_Norwegian_CI_AS NULL,
	[SamplingFrequency] [nchar](10) COLLATE Danish_Norwegian_CI_AS NULL,
	[Marker] [nchar](10) COLLATE Danish_Norwegian_CI_AS NULL
)
END
GO
/****** Object:  Table [dbo].[Data]    Script Date: 09/07/2009 08:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Data]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Data](
	[Data] [int] NULL
)
END
GO
INSERT [dbo].[Data] ([Data]) VALUES (126)
INSERT [dbo].[Data] ([Data]) VALUES (128)
INSERT [dbo].[Data] ([Data]) VALUES (129)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
